@model WebApplication.Models.Degree

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Degree</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeAbbr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DegreeAbbr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTerms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTerms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeCredits)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>CourseNumber</th>
                    <th>DegreeId</th>
                </tr>
                @foreach (var item in Model.DegreeCredits.OrderBy(r => r.CreditId))


                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.CreditId) </td>
                        <td>@Html.DisplayFor(modelItem => item.DegreeId) </td>

                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DegreeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
