@model IEnumerable<WebApplication.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Family", "Index", new { sortOrder = ViewBag.NameSortParm })                
            </th>
            <th>
                @Html.ActionLink("Given", "Index", new { sortOrder = ViewBag.GivenNameSortParm })                
            </th>
            <th>
                @Html.ActionLink("Snumber", "Index", new { sortOrder = ViewBag.SnumNameSortParm })                
            </th>
            <th>
                @Html.ActionLink("N919", "Index", new { sortOrder = ViewBag.N919NameSortParm })                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Family)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Given)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Snumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.N919)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
