@model IEnumerable<WebApplication.Models.Slot>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Term", "Index", new { sortOrder = ViewBag.TermNumberSortParm })                
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.NameSortParm })                
            </th>
            <th>
                @Html.ActionLink("DegreePlan", "Index", new { sortOrder = ViewBag.DegplanNumberSortParm })                
            </th>
            <th>
                @Html.ActionLink("Credit", "Index", new { sortOrder = ViewBag.NumberSortParm })                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Term)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreePlanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SlotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SlotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SlotId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
